<row class="layout-fixed main-row">
  <!-- main-column -->
  <columns
    small="12"
    large="9"
    class="main-column"
    width="424"
    style="width: 424px;"
    valign="top"
  >
    <spacer size="6"></spacer>
    <row>
      <th class="columns first last py-0">
        <table>
          <tr>
            <th class="text-center">
              <h1 class="primary-text text-center display-3 mb-0 pb-0">
                Project Blue Delta
              </h1>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>

    <spacer class="show-for-large" size="16"></spacer>

    {{> date-row }}

    <spacer class="hide-for-large2" size="16"></spacer>

    <table class="row">
      <tbody>
        <tr>
          <th class="columns first small-12">
            <table cellspacing="0" cellpadding="0" border="0">
              <tr>
                <th>
                  {{> article-light type="oneteam" labelTitle="ONE%20TEAM"
                  boxColorHex="8894a0" contentBoxClass="border-width-1"
                  contentPartial="article-content-2"
                  boxIconTransformations=",h_16,w_16,g_east,x_22"
                  boxIconPath="Volkswagen:newsletter1:One_Team_cplk6n"
                  boxLabelTextPath="Volkswagen:newsletter1:label_plant"
                  boxIconSrc="https://res.cloudinary.com/whynotearth/image/upload/w_128,h_64,c_pad,b_white/Volkswagen/newsletter1/Plant_fc01dz.png"
                  }}
                </th>
              </tr>
            </table>
          </th>

          <th class="columns show-for-large" width="8" style="width: 8px;">
            <table
              cellspacing="0"
              cellpadding="0"
              border="0"
              width="8px;"
              style="width: 8px;"
            >
              <tr>
                <td></td>
              </tr>
            </table>
          </th>

          <th class="columns last small-12">
            <table cellspacing="0" cellpadding="0" border="0">
              <tr>
                <th>
                  {{> article-light type="plant" labelTitle="ONE TEAM"
                  boxColorHex="8894a0" contentBoxClass="border-width-1"
                  contentPartial="article-content-2"
                  boxIconTransformations=",h_16,w_16,g_east,x_22"
                  boxIconPath="Volkswagen:newsletter1:Plant_fc01dz"
                  boxLabelTextPath="Volkswagen:newsletter1:label_plant"
                  boxIconSrc="https://res.cloudinary.com/whynotearth/image/upload/w_128,h_64,c_pad,b_white/Volkswagen/newsletter1/Plant_fc01dz.png"
                  }}
                </th>
              </tr>
            </table>
          </th>
        </tr>
      </tbody>
    </table>
  </columns>

  {{> sidebar }}
</row>

{{> footer }}
